body {
    padding: 10px;
}

.img{ww
    margin-right: 10px;
}


.nav-link{
    color: aliceblue;
}
.listing{
    border-bottom: 3px solid black;
}

.butt{
    background-color: black;
}

label{
    color: red;
}